<!-- Provider Details Section -->
<section class="page-section" id="providers-details">
    <div class="container">
      <h2 class="text-center mt-0">{{company}}</h2>
      <hr class="divider my-4">
  
      <div class="row my-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">{{description}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tag Line</h5>
              <p class="card-text">{{tagline}}</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Zip Code</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{address}}</td>
              <td>{{city}}</td>
              <td>{{state}}</td>
              <td>{{postal_code}}</td>
              <td>{{phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row my-4">
        <div class="col-sm-12 text-center">
          <a class="btn btn-primary btn-lg " routerLink="/providers" routerLinkActive="active">Back to Providers</a>
        </div>
      </div>
    </div>
  </section>