<!-- Add Provider Section -->
<section class="page-section" id="add-provider-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Provider Edit Page</h2>
          <hr class="divider my-4">
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- Nested Row within Card Body -->
        <div class="row o-hidden border-0">
          <div class="col-lg-12">
            <h1 class="mt-0 text-success" *ngIf="submitted">Added successfully!</h1>
         
            <ng-container *ngIf="emailError">
              <p class="alert alert-danger">*Error: {{emailMsg}}</p>
            </ng-container>
            <form class="user" [formGroup]="providersForm" *ngIf="!submitted && onProviderLoaded" (ngSubmit)="handleSubmit()">
              <p>Complete all the required fields below to add a new service provider.</p>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="inputFirstName">First Name</label>
                  <span class="text-danger" *ngIf="acl['firstname'].touched && acl['firstname'].errors?.['required']">
                    *Required
                  </span>
                  <input type="text" class="form-control form-control-user" formControlName="firstname">
                  <!-- Valid -->
                  <div class="text-danger" *ngIf="acl['firstname'].touched && acl['firstname'].errors?.['minlength']">
                    minimum 2 charset.
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="inputLastName">Last Name</label>
                  <span class="text-danger" *ngIf="acl['lastname'].touched && acl['lastname'].errors?.['required']">
                    *Required
                  </span>
                  <input type="text" class="form-control form-control-user" formControlName="lastname" >
                  <div class="text-danger" *ngIf="acl['lastname'].touched && acl['lastname'].errors?.['minlength']">
                    minimum 2 charset.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPosition">Position</label>
                <input type="text" class="form-control form-control-user" formControlName="position">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="inputEmail">Email</label>
                  <span class="text-danger" *ngIf="acl['email'].touched && acl['email'].errors?.['required']">
                    *Required
                  </span>
                  <input type="email" class="form-control form-control-user" formControlName="email">
                  <div class="text-danger" *ngIf="acl['email'].touched && acl['email'].invalid">
                    invalid email.
                  </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="inputPhone">Phone</label>
                  <span class="text-danger" *ngIf="acl['phone'].touched && acl['phone'].errors?.['required']">
                    *Required
                  </span>
                  <input type="phone" class="form-control form-control-user" formControlName="phone">
                  <div class="text-danger" *ngIf="acl['phone'].touched && acl['phone'].errors?.['pattern']">
                   Accept: 8892334510 <br>Don't start with area code 0 or 1.
                  </div>
                </div>
              </div>
              <hr class="divider my-4">
              <div class="form-group">
                <label for="inputCompanyName">Company</label>
                <input type="text" class="form-control form-control-user" formControlName="company_name"
                  >
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" formControlName="address" >
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" formControlName="city">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <input type="text" class="form-control" formControlName="state" maxlength="2">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZipCode">Zip Code</label>
                  <input type="text" class="form-control" maxlength="6" formControlName="postal_code">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="inputDescription">Description</label>
                  <textarea class="form-control form-control-user" formControlName="description"
                    ></textarea>
                </div>
                <div class="col-sm-6">
                  <label for="inputTagLine">Tag Line</label>
                  <textarea class="form-control form-control-user" formControlName="tagline"></textarea>
                </div>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="providersForm.invalid">Update Provider</button>
            </form>
            <div *ngIf="!providerLoaded">
                <h3 class="text-info" >
                    Loading...
                </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>