<!-- Deleted Section -->
<section class="page-section" id="delete-provider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1 class="mt-0">Deleted Successfully!</h1>
          <div class="mb-4">
            <h2 class="text-black-50 mb-6"><h2 class="text-info">{{fullname}}</h2> has been removed for the list.</h2>
          </div>
          <hr class="divider my-4">
        </div>
      </div>    
  </div>
  </section>